/* Resetiranje defaultnih margina i paddinga */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;

}
.flex-container > div {
    background-color: #fff;
    padding: 60px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: larger;
  }
/* Stilizacija tijela stranice */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f2fd;
    color: #333;
    line-height: 1.6;
}

/* Stilizacija zaglavlja */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
#video {
    justify-content: center;
    background-color: #fff;
    padding: 90px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 48px;
}
/* Navigacija unutar zaglavlja */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* Stilizacija sekcija */
section {
    padding: 20px;
}

#home {
    background-color: #fff;
    padding: 90px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#noga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.video {
    background-color: #fff;
    padding: 60px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}